{% extends 'base.html.twig' %}


{% block title %}{{ title }}!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/articleListView.css">
{% endblock %}

{% block body %}
    {% include 'baseNavbar.html.twig' %}
    <!-- <p>Vous n'etes pas connecte!!!</p> -->
    {% include 'baseGridLayoutOpen.html.twig' %}
    {% for article in articles %}
        <br>
        <h2 id="postTitle">{{ article.title }}</h2>
        <div>
            <img src="{{ article.image }}" style="width: auto;height: auto;"/>
        </div>
        <div class="metadata">
            <span><b class="badge badge-secondary"><i class=" fas fa-user fw"></i>   Auteur: </b> <small><b>{{ article.author }}</b></small></span><br>
            <b class="badge badge-secondary">
                    <i class="far fa-calendar-alt"></i>   Publie le: </b>
                 <small><b>{{ article.createdAt | date('d-m-Y') }}
                         &agrave; {{ article.createdAt | date('H:i') }}</b></small></span><br>
            <span><b class="badge badge-secondary">Cat&eacute;gorie : </b> <small><b>{{ article.category }}</b></small></span><br><br>
            <div>
            </div>
            <p>
                {{ article.content | raw }}
            </p>
            <a href="{{ path('article_show',{'title': article.title}) }}">
                <button type="button" class="btn btn-outline-primary">Lire la suite...</button>
            </a>
        </div>
        <br><br>
    {% endfor %}
    {% include 'baseGridLayoutClose.html.twig' %}
    {% include 'baseFooter.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="/js/socialsIconToggle.js"></script>
    <script src="/js/calender.js"></script>
    <script></script>
{% endblock %}